@import "variables";

.alert {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.alert.fade-out {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
