@import "variables";

.top-projects-container {
  display: flex;
  align-items: flex-start;
} .projects-index {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  h3 {
    font-weight: lighter;
    margin: 1rem 0;
    &.active {
      font-weight: bolder;
      span {
        color: $secondary;
      }
    }
  }
}
#slide-title {
  display: flex;
  align-items: center;
} .slide-description {
  display: flex;
  text-align: justify;
  margin: 2rem;
} .carousel-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 3rem;
  position: relative;
} .carousel-track {
  display: flex;
  flex-direction: column;
} .carousel-slide {
  display: none;
} .carousel-slide.active {
  display: flex;
  width: 100%;
} .carousel-img {
  width: 100%;
  object-fit: cover;
  box-shadow: $box-shadow;
}
