@import "variables";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: linear-gradient(90deg, rgba(255,247,230,1), rgba(255,223,158,1));
  z-index: 10;
  .logo {
    text-align: center;
    margin-left: 1rem;
    cursor: pointer;
    img {
      height: 80%;
    } p {
      margin-top: -0.75rem;
      color: $primary;
      font-family: 'Lalezar', cursive;
    }
  }
  .nav-buttons {
    display: inline-flex;
    align-items: flex-end;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 2rem 0.9rem 2rem;
    p {
      color: $primary;
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
    } p.active {
      font-weight: 700;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 120%;
        height: 2px;
        background-color: $primary;
      }
    }
    .left-nav {
      display: inline-flex;
      p {
        margin-right: 2rem;
      }
    }
  }
}
