$navbar-height: 5rem;
$footer-height: 8rem;
$primary: #B85252;
$secondary: #F58840;
$contrast-lighter: #ffd785;
$contrast-darker: #d57d4b;
$soft-title: rgba(184, 82, 82, 0.1);
$gradient:linear-gradient(90deg, rgba(255,247,230,1), rgba(255,223,158,1));
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
