<%= yield %>
<p>
  Un nouveau message a été envoyé depuis votre formulaire de contact :
</p>
<p>
  <strong>Nom : </strong>
  <%= @contact.fullname %>
  <br>
  <strong>Adresse email : </strong>
  <%= @contact.email %>
  <br>
  <strong>Message : </strong>
  <br>
  <%= simple_format(@contact.message) %>
</p>
